@media screen and (max-width: 479px) {
    #wrapper {
        width: 200px;
    }
    .header1{
        margin-right: 70px;
    }
    .right4 {
        margin-left: 30px;
        margin-top: 20px;
    }

}