@media screen and (max-width: 767px) {

    #wrapper {
        width: 300px;
    }
    .main1{
        width: 125px;
    }
    .main2{
        width: 75px;
    }
    .left{
        width: 100px;
    }
}
@media screen and (max-width: 479px) {

    #wrapper{
        width: 150px;
    }
    
}